.content-grid {
  --max-width: 1200px;
  --padding-inline: 1rem;
  display: grid;
  grid-template-columns: minmax(var(--padding-inline), 1fr) min(var(--max-width), 100% - (var(--padding-inline) * 2) minmax(var(--padding-inline), 1fr);

  & > * {
    grid-column: 2 / 3;
  }
  & > .full-width {
    grid-column: 1 / -1;
  }
}
